/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .post-container                                  { position: relative; width: 700px; margin: 0 auto; padding: 0; }

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .post-container                                  { width: 80%; max-width: 700px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 480px) {
        .post-container { width: 90%; }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .post-container { width: 80%; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .post-container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* TODO - Remove - Temporary hide unedited text */
    .temp-display { display: none }